// VARIABLES
:root{
  /* BACKGROUNDS */
  --dark-primary-color: #165305;
  --default-primary-color: #4CAF50;
  --light-primary-color: #93842f;
  --text-primary-color: #FFFFFF;
  --accent-color: #4CAF50;
  
  /* COLORS */
  --primary-text-color: #212121; 
  --secondary-text-color: #757575;
  --divider-color: #ffa739;

  --button-primary: #77af63;
  --button-secondary: #7a9f6c;
  --bg-principal: #6fdf46;
  --bg-secondary: #75bf59;
  --bg-green: #72cf50;
  --bg-light: rgb(255, 255, 255);
  --hospital-green: #acd9b2;

}