// VARIABLES
html {
  --bg-home: url("https://i.imgur.com/Y3ygvWl.jpeg");
  --bg-img-sesions: url("https://i.imgur.com/Y3ygvWl.jpeg");

  /* FONTS */
  /* TITULOS */
  --font-skranji: "Skranji", cursive;
  --font-secularOne: "Secular One", sans-serif;
  --font-handlee: "Handlee", cursive;

  /*SUBTITULOS*/
  --font-secondary: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --font-dmSans: "DM Sans", sans-serif;

  /* TEMA CLARO */

  /* BACKGROUNDS */
  --main-color-blue: linear-gradient(
    45deg,
    rgb(167, 154, 11) 39%,
    rgb(245, 243, 132) 100%
  );
  --main-color-green: #1c3d36;
  --body-color: #fbfbfe;
  --hospital-green: #94820d;
  --bg-sesions: white;
  --bg-card-dark: white;

  /* TITLE */
  --title-color: #333;
  --title-color-green: #1ca334;
  --text-color-secondary: #707070;
  --subtitule: #afb6b6;
  --light-text-color: #ffffff;
  --dark-text-color: black;

  /* EXTRAS */
  --btn-yellow: #ffa739;
  --accent-color: #4caf50;
  --btn-green: #5b942a;
  --btn-green-hover: #2f5f05;
  --bg-color-icon: #a4ddcf;
  --bg-btn-hover: #c8cacf;
  --temas-hover: #e4e4e4;
  --border-color: #afb6b6;

  /* COLOR SLIDE */
  --bg-color1: #F56701;
  --bg-color2: #F4D100;
  --bg-color3: #F3F400;
  --bg-color4: #91B70C;
  --bg-color5: #309300;

  /* #008f6f
   #1ca381
   --dark-primary-color: #165305;
  */
}

html[data-theme="dark"] {
  --bg-home: url("https://i.postimg.cc/zG4QmpKN/t2.jpg");
  --bg-img-sesions: url("https://i.postimg.cc/yYdgmLM7/12-Z-2102-w026-n002-148-B-p1-148.jpg");

  /* TEMA OSCURO */

  /* BACKGROUNDS */
  --main-color-blue: linear-gradient(
    45deg,
    rgb(21, 21, 153) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  --main-color-green: #1c3d36;
  --body-color: #031742;
  --hospital-green: #031742;
  --bg-sesions: rgb(19, 18, 18);
  --bg-card-dark: black;

  /* TITLE */
  --title-color: white;
  --title-color-green: #1ca334;
  --text-color-secondary: #afb6b6;
  --subtitule: rgb(77, 75, 75);
  --light-text-color: #ffffff;
  --dark-text-color: rgb(255, 255, 255);

  /* EXTRAS */
  --btn-yellow: #ffa739;
  --accent-color: #4caf50;
  --btn-green: #5b942a;
  --btn-green-hover: #2f5f05;
  --bg-color-icon: transparent;
  --bg-btn-hover: #265df2;
  --temas-hover: rgb(44, 43, 43);
  --border-color: rgb(41, 40, 40);

  /* COLOR SLIDE */
  --bg-color1: #17277e;
  --bg-color2: #600171;
  --bg-color3: #bb0061;
  --bg-color4: #f5025b;
  --bg-color5: #F40000;

  /* #008f6f
   #1ca381
   --dark-primary-color: #165305;
  */
}

/* FONTS */
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Kalam', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Secular One', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Skranji', cursive;
*/
