@import "./vars";

.container__card {
  height: 250px;
  margin: 5rem 5rem;
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  background: var(--main-color-blue);
}
.container__card:hover {
  height: 420px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
}
.container__card .wrapper__card img {
  position: relative;
  z-index: 0;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.container__card:hover .wrapper__card img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper__card .title__cardSection {
  text-align: center;
  color: #fff;
  font-family: var(--font-secularOne);
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}

.content__cardSection {
  text-align: center;
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px !important;
}

.content__cardSection .buttons__cardSection {
  margin-top: 1rem;
  display: flex;
}

.buttons__cardSection .btn__cardSection {
  height: 40px;
  width: 100%;
  margin: 0 5px;
}
.buttons__cardSection .btn__cardSection button {
  height: 100%;
  width: 100%;
  background: var(--body-color);
  color: var(--dark-text-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  font-family: var(--font-secondary);
  font-weight: 550;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn__cardSection button:hover {
  transform: scale(0.93);
}

@media screen and (max-width: 700px) {
  .container__card {
    height: 250px;
    margin: 5rem 2rem;
    width: 250px;
  }

  .container__card:hover {
    width: 300px;
    margin: 5rem 0.2rem;
  }

  .container__card:hover .wrapper__card img.active {
    height: 200px;
    width: 270px;
    margin: 1rem auto;
    border: 5px solid #fff;
    border-radius: 1px;
  }
}
