main {
  height: 100%;
  display: flex;
  margin-top: 10rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 3em;
    font-weight: 100;
    color: #f44;
    margin: 0;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
  }
  a {
    font-size: 1.5em;
    font-weight: 300;
    color: #f44;
    text-decoration: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-weight: 300;
}
