.header__perfilUser {
  background-color: var(--hospital-green);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5.3rem;
}

.container__perfilUser {
  display: flex;
}

@media screen and (max-width: 700px) {
  .container__perfilUser {
    display: inline-block;
  }
}