.tema__section__container{
  transition: all 0.3s ease;
  padding: 1.5rem;
  background-color: var(--bg-card-dark);
  color: var(--dark-text-color);
}

body{
  background-color: var(--bg-card-dark);
}