.container__medioAmbiente__temas {
  background-color: var(--bg-card-dark);
  // border-right: 2px solid var(--border-color);
  top: 10;
  position: fixed;
  width: 20%;
  height: 100vh;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s;
}

.container__medioAmbiente__temas-active {
  background-color: var(--bg-card-dark);
  top: 0;
  position: fixed;
  width: 20%;
  height: 100vh;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

.container__medioAmbiente__temas__info {
  margin-top: 5rem;
  color: var(--dark-text-color);
  font-weight: 500;
}

.container__medioAmbiente__info {
  text-align: center;
  margin-top: 0.6rem;
  width: 90%;
}

.container__medioAmbiente__temas__infoTitle {
  display: flex;
  margin-left: -1.5rem;
  margin-bottom: 0.5rem;

  p {
    margin-left: 2rem;
    color: var(--subtitule);
  }

  .container__medioAmbiente__temas__infoTitle__icon {
    color: var(--subtitule);
  }
}

.list__temas__medioAmbiente {
  ol {
    padding: 0.2rem;
  }

  li {
    border-bottom: 1.8px solid var(--border-color);
    padding: 0.8rem;
    font-weight: 500;
    &:hover {
      background-color: var(--temas-hover);
    }
  }

  .tema__active {
    color: var(--dark-text-color);
  }

  .tema__disabled {
    color: var(--subtitule);
    pointer-events: none;
  }
}

.container__medioAmbiente__temas__exit {
  width: 100%;
  position: relative;
  margin-bottom: 1.4rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  border: 0.1rem solid black;

  &:hover,
  &:active {
    background-color: black;
    color: white;
    border: 0.1rem solid var(--dark-text-color);
  }
}

@media screen and (max-width: 700px) {
  .container__medioAmbiente__temas {
    top: 3.6rem;
    width: auto;
    position: sticky;
  }
  .container__medioAmbiente__temas-active {
    top: 1rem;
    width: auto;
    position: sticky;
  }
  .container__medioAmbiente__temas__info {
    margin-top: 1rem;
  }
}
