/* Import Google font - Poppins */
:root {
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}

.hide {
  display: none;
}
.notifications {
  position: fixed;
  top: 20px;
  right: 5px;
  z-index: 100;
}
.notifications :where(.toast, .column) {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.notifications .toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 1px;
  margin-bottom: 10px;
  background: var(--bg-card-dark);
  font-weight: bold;
  color: var(--dark-text-color);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before {
  background: var(--success);
}
.toast.error::before{
  background: var(--error);
}
.toast.warning::before {
  background: var(--warning);
}
.toast.info::before {
  background: var(--info);
}
.toast .column .icon__alert {
  font-size: 1.75rem;
}
.toast.success .column .icon__alert {
  color: var(--success);
}
.toast.error .column .icon__alert {
  color: var(--error);
}
.toast.warning .column .icon__alert {
  color: var(--warning);
}
.toast.info .column .icon__alert {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast .icon__alert:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast .icon__alert:last-child:hover {
  color: var(--dark);
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}