.create__account {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-family: var(--font-dmSans);
}

.create__account--link {
  color: beige;
  background-color: var(--btn-green);
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.create__account--link:hover {
  background-color:var(--btn-green-hover);
}

@media screen and (max-width: 700px) {
  .create__account {
    text-align: center;
    font-size: 1rem;
  }
  .create__account--link {
    margin-left: 0.1rem;
  }
  
}
